In [0]:
%python
print("hello")
print("hi")

In [0]:
describe raw_resume_data

In [0]:
select * from raw_resume_data limit 10

In [0]:
with exp_skill as (
  select resume_id, name, job_title, skills, location, date, experience_years, skill
  from raw_resume_data 
  lateral view explode(split(skills, ' ')) as skill
)
select resume_id,name,skill from exp_skill limit 10

In [0]:
with exp_skill as (
  select resume_id, name, job_title, skills, location, date, experience_years, skill
  from raw_resume_data 
  lateral view explode(split(skills, ' ')) as skill
)
select job_title,skill,count(skill) as total_skills from exp_skill group by job_title,skill order by total_skills desc limit 10